* {
    box-sizing: border-box;
}

header {
    padding-left: 20%;
    padding-right: 20%;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 1px solid lightgray;
}

ul {
    list-style-type: none;
    background-color: white;
    margin: o;
    padding: 10px;
}

li {
    display: inline;
    padding-left: 10px;
}

li a:visited {
    text-decoration: none;
    color: black;
}

li a:hover {
    color: grey;
}

a {
padding-right: 10px;
text-decoration: none;
}


a:visited {
    text-decoration: none;
}

.logo {
    padding-left: 10px;
    padding-top: 10px;
}

main {
    padding-left: 20%;
    padding-right: 20%;
    font-family: Arial, Helvetica, sans-serif;
}

/*Styles to prodContainer*/

.products {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.prod-header {
    text-align: center;
}


.prod-img {
    max-width: 100%;
    padding: 0px 20px;
}

.prod-head {
    padding: 0px 20px;
}

.prod-p {
    padding: 0px 20px;
}

.add-button {
    max-width: 120px;
    color: white;
    text-align: center;
    background-color: #394f4c;
    margin-bottom: 10px;
    padding: 15px 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    font-size: 0.875em;
    font-weight: 600;
    border-radius:  5px;
}

footer {
    background-color: #f0f0f0;
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: -16px;
}

.footer-p {
    margin-left: 20%;
    padding-left: 15px;
    padding-top: 80px;
    padding-bottom: 80px;
}